// Estilo del Footer

footer {    
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $backgroundFooter;
    border-radius: $radio20;

    p {
        padding-left: 5px;
    }
}

