// Colores

$fondoNomPag: #31A87D;
$backgroundWS: whitesmoke;
$colorNomPag: #AD3319;
$bordeNomPag: 2px #C78F95;
$letraVerde: forestgreen;
$colorBlanco: white;
$colorNegro: black;
$backgroundTitulo: rgb(168, 218, 218);
$bordeTitulo: orangered;
$backgroundFooter: royalblue;
$colorNaranja: orange;
$bordeMarina: powderblue;
$gradienteContactoVert: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,32,121,1) 35%, rgba(0,212,255,1) 100%);
$gradienteContactoHor: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,32,121,1) 35%, rgba(0,212,255,1) 100%);